<h1>{{name}}</h1>

<dl>


  <td>Nombre</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Metodo:</td>
  <dd>{{getHeroDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>


</dl>

<button
*ngIf="name !== 'hulk'"
 class=" btn btn-primary mx-5"
 (click)="changeHero()" >
 Change name
</button>

<button
*ngIf="age !== 9"
 class=" btn btn-primary mx-5"
 (click)="changeAge()">
 Change Age</button>


<button
 class=" btn btn-success mx-5"
 (click)="reset()">
 reset
</button>
