<h1 >List character of dbz</h1>
<div class="row">


  <div class="col">
    <!--[characterList] = send list of characters of character.service  -->
    <!--[onDeleteId] = is a event , give info to children  -->
    <dbz-list [characterList]="listCharacters"   (onDeleteId)="onDeleteCharacterById($event)" ></dbz-list>
  </div>


  <div class="col">
    <!--[onDeleteId] = is a event , give object from children  -->
    <dbz-add-character (onNewCharacter)="onNewCharacter($event)">
    </dbz-add-character>

  </div>
</div>
